<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Images:</strong>
  <% if @post.images.attached? %>
    <%= image_tag @post.images.first %>
    <%= image_tag @post.images.second %>
    <% @post.images.each do |image| %>
      <%= image_tag image %> <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
